.sheaCard {

    img{
        width: 100%;
    }

        .eyes {
        width: 10%;
    }

    .leftEye {
        position: absolute;
        left: 0px;
        top: 0px;
    }



    .eyesRotated {
     
    }
}
