.sheaCard {

    img {
        width: 100%;
    }

    .eyes {
        position: absolute;
        top: 0;
        left: 0;
        width: 5%;


        .leftEye {
            position: absolute;
            left: 21vw;
            top: 16vw;
            // border: 2px solid red;
            width: 100%;
        }

        .rightEye {
            position: absolute;
            left: 28vw;
            top: 16vw;
            // border: 2px solid green;
            width: 100%;
        }
    }
}