.sheaCard {

    position: relative;

    img {
        width: 100%;
    }

    .eyes {
        position: absolute;
        top: 0;
        left: 0;
        width: 5%;


        .leftEye {
            position: absolute;
            left: 200px;
            top: 155px;
            width: 100%;
        }

        .rightEye {
            position: absolute;
            left: 260px;
            top: 155px;
            width: 100%;
        }
    }
}